---
id: {{ slug }}
title: {{ name | tojson }}
aliases: [{{ name | tojson }}]
created: {{ first_seen }}
updated: {{ last_seen }}
source_count: {{ source_count }}
sources: {{ sources | tojson }}
tags: {{ tags | tojson }}
---

# {{ name }}

## {{ i18n.concept_synthesis }}



## {{ i18n.concept_sources }}

{% for source in sources %}
- [[{{ source }}]]
{% endfor %}

## {{ i18n.concept_meta }}

- {{ i18n.first_seen }}: {{ first_seen }}
- {{ i18n.last_seen }}: {{ last_seen }}
- {{ i18n.source_count }}: {{ source_count }}

## {{ i18n.related }}

