---
id: {{ slug }}
type: concept
title: {{ name | tojson }}
aliases: {{ aliases | tojson }}
created: {{ first_seen }}
updated: {{ last_seen }}
{% if category %}category: {{ category | tojson }}
{% endif %}source_count: {{ source_count }}
llm_inputs:
{%- if llm_inputs.synthesis %}
  synthesis: {{ llm_inputs.synthesis | tojson }}
{%- endif %}
{%- if llm_inputs.synthesis_done %}
  synthesis_done: {{ llm_inputs.synthesis_done | tojson }}
{%- endif %}
tags: {{ tags | tojson }}
---

# {{ name }}

## {{ i18n.concept_synthesis }}



## {{ i18n.concept_sources }}

## {{ i18n.related }}

