---
id: {{ slug }}
title: {{ title | tojson }}
created: {{ created }}
updated: {{ updated }}
document_type: {{ document_type }}
{% if source_url -%}
source_url: {{ source_url | tojson }}
{% endif -%}
{% if source_file -%}
source_file: {{ source_file | tojson }}
{% endif -%}
tags: {{ tags | tojson }}
llm_inputs:
  summary: {{ llm_inputs.summary | tojson }}
{%- if llm_inputs.summary_done %}
  summary_done: {{ llm_inputs.summary_done | tojson }}
{%- endif %}
{%- if llm_inputs.concepts %}
  concepts: {{ llm_inputs.concepts | tojson }}
{%- endif %}
{%- if llm_inputs.concepts_done %}
  concepts_done: {{ llm_inputs.concepts_done | tojson }}
{%- endif %}
---

# {{ title }}

## {{ i18n.summary }}

{{ summary }}

## {{ i18n.document_content }}

{{ content }}

{% if extract_concepts %}
## {{ i18n.related_concepts }}

{% for c in concepts -%}
- [[{{ c }}]]
{% endfor %}
{% endif %}
