{% extends "_daily_base.md.jinja" %}
{% block title %}{{ i18n.slack_search_title }}{% endblock %}
{% block items_heading %}{{ i18n.key_messages }}{% endblock %}
{% block events %}
{% for event in events %}
### {{ event.title }}

{{ event.body }}
{% if event.url %}
[{{ i18n.original_message }}]({{ event.url }})
{% endif %}

{% endfor %}
{% endblock %}
